.box {
    background-color: #0799d3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    top: 0;
    position: relative;
    animation-name: jump;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes jump {
   from  { 
        top: 0px;
        animation-timing-function: linear;
    }
    
   to {
         top: 100px;
         animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes jump {
    from  { 
        top: 0px;
        animation-timing-function: linear;
    }
    
   to {
         top: 100px;
         animation-timing-function: ease-in-out;
}